{{#section 'css'}}
  <link rel='stylesheet' href='../../static/css/reportDetails.css' />
{{/section}}
{{#section 'js'}}
  <script src='../../static/js/reports/reportDetails.js'></script>
  <script src="../../static/js/handlebarsHelpers.js"></script>
  <link
    rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css'
    integrity='sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA='
    crossorigin='anonymous'
  />
{{/section}}

<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="background: linear-gradient(45deg, #5c7ea1, #509177);"
  >
    <!-- Sidebar - Brand -->
    {{#if isSuperAdmin}}
  {{> sidebarDepartment}}
{{else}}
  {{> sidebarWard}}
{{/if}}

  </ul>

<div class='container-fluid'>
  <div class='row'>
      <div class='my-4'>
        <!-- Nav tabs -->
          
          {{#unless isSuperAdmin}}
          <div class='nav-item'>
            <a
              class='nav-link'
              id='security-tab'
              data-toggle='tab'
              href='#security'
              role='tab'
              aria-controls='security'
              aria-selected='false'
            >
              Cập nhật trạng thái
            </a>
          </div>
          {{/unless}}

        <!-- Tab panes -->
            <div class='container-fluid mt-2'>
              <div class=''>
                
                <div class='card-body'>
                  <div class='row d-flex align-items-stretch'>
                    
                    <div class='col-lg-5 col-md-5 col-sm-6'>
                      <div class="box-title text-body-emphasis">
                        <h3>
                          {{report.method.reportMethod}}
                        </h3>
                      </div>
                      <div class='mt-5 carousel-container'>
                        {{#if report.images}}
                          <div id="reportImageCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              {{#each report.images}}
                                <div class="carousel-item {{#if @first}}active{{/if}}">
                                  <img src="{{this}}" class="d-block carousel-img" alt="Image {{@index}}"/>
                                </div>
                              {{/each}}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#reportImageCarousel" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#reportImageCarousel" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        {{else}}
                          <img src='/static/img/default.jpg' class='img-fluid' alt='user'/>
                        {{/if}}
                      </div>

                    </div>
                    <div class='col-lg-7 col-md-7 col-sm-6'>
                      <h4 class='box-title mt-5'>
                        {{board.boardType.boardType}}
                      </h4>
                      <p>
                        {{boardLocation.addr.street_number}}, {{boardLocation.addr.route}}, {{boardLocation.addr.ward.ward}}, {{boardLocation.addr.district.district}}, {{boardLocation.addr.city}}
                      </p>
                      <p>
                        Kích thước: <strong>{{board.size}}</strong>
                      </p>
                      <p>Hình thức: <strong>{{boardLocation.advertisementForm.advertisementForm}}</strong></p>
                      <p>Phân loại: 
                        {{#each boardLocation.locationCategory}}
                          <span class='badge badge-pill badge-primary'>{{this.locationCategory}}</span>
                        {{/each}}
                      </p>
                    </div>
                  </div>
                  
                  <hr>

                  <div class='row d-flex align-items-stretch'>
                    <div class='col-lg-12 col-md-12 col-sm-12'>
                      <h3 class='box-title mt-5' style="color: black;">
                        Chi tiết báo cáo
                      </h3>
                      <div class='table-responsive'>
                        <table class='table table-striped table-product'>
                          <tbody>
                            <tr>
                              <td width='390'>
                                Họ và tên người báo cáo
                              </td>
                              <td>
                                {{report.sender.fullname}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Email
                              </td>
                              <td>
                                {{report.sender.email}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Điện thoại liên lạc
                              </td>
                              <td>
                                {{report.sender.phone}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Thời gian báo cáo
                              </td>
                              <td>
                                {{report.createdAt}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Trạng thái
                              </td>
                              <td>
                                {{#compare report.status '===' -1}}
                                  <span class='badge badge-pill badge-warning'>Chưa xử lý</span>
                                {{else compare report.status '===' 1}}
                                  <span class='badge badge-pill badge-success'>Đã xử lý</span>
                                {{/compare}}
                                {{#compare report.status '===' 0}}
                                  <span class='badge badge-pill badge-primary'>Đang xử lý</span>
                                {{/compare}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                Nội dung báo cáo
                              </td>
                              <td>
                                {{{report.description}}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        {{#if isSuperAdmin}}
                          <h3 class='box-title mt-5' style="color: black;">
                          Cách thức xử lý
                          </h3>
                        {{#if report.handleDetails}}
                          <div class="alert alert-warning" role="alert">
                              {{report.handleDetails}}
                          </div>
                          {{else}}
                            <div class="alert alert-secondary" role="alert">
                              Chưa cung cấp cách thức xử lý
                            </div>
                          {{/if}}
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {{#unless isSuperAdmin}}
          <div class='tab-pane' id='security' role='tabpanel' aria-labelledby='security-tab'>
                       <!-- Cách thức xử lý -->
            <form action="/api/v1/reports/sendEmail" method="post" id="updateForm">
              <h5 class='mb-0 mt-5'>
                Cập nhật trạng thái báo cáo
              </h5>
              <p>
                Cán bộ cập nhật trạng thái xử lý báo cáo
              </p>
              <div class='list-group mb-5 shadow'>
                <div class='list-group-item'>
                  <div class='row d-flex align-items-center'>
                    <div class='col'>
                      <strong class='mb-2'>Tình trạng báo cáo</strong>
                      <p class='text-muted mb-0'>Chọn tình trạng xử lý</p>
                    </div>
                    <div class='col-auto d-flex align-items-center'>
                      <select class='form-control' id='handleMethodSelect' name="statusDetails">
                        <option value='pending' {{#compare report.status '===' -1}} selected {{/compare}}>Chưa xử lý</span></option>
                        <option value='inprogress' {{#compare report.status '===' 0}} selected {{/compare}}>Đang xử lý</option>
                        <option value='processed' {{#compare report.status '===' 1}} selected {{/compare}}>Đã xử lý</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Thông tin chi tiết -->
              <h5 class='mb-0 mt-5'>
                Thông tin chi tiết
              </h5>
              <p>
                Thông tin chi tiết và trình tự xử lý bảng quảng cáo
              </p>
              <div class='list-group mb-5 shadow'>
                <div class="list-group-item">
                  <div class='row d-flex align-items-center'>
                    <div class='col'>
                      <strong class='mb-4'>Trình tự xử lý</strong>
                      <div id="handleMethodDetail" name="handleMethodDetail">
                        {{#if report.method}}
                          {{#each report.method.steps}}
                            <div class="alert alert-info mt-1">
                              <strong> Bước {{this.index}}:</strong> {{this.step}}
                            </div>
                          {{/each}}
                        {{else}}
                          <div class="alert alert-warning">
                            Chưa có hướng dẫn xử lý cụ thể cho loại báo cáo này.
                          </div>
                        {{/if}}
                      </div>
                      <div class="form-group mt-3">
                        <div class="d-flex justify-content-between">
                          <label for="updateDetails" class="font-weight-bold">Chi tiết cách thức xử lý:</label>
                          <p id="errorMessage" class="text-danger font-weight-bold"></p>          
                        </div>            
                        <textarea class="form-control" id="updateDetails" name="updateDetails" rows="4"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary" id="reportResBtn">Cập nhật</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Thông tin sender, method và reason -->
              <input type="hidden" name="sender" value="{{report.sender.fullname}}">
              <input type="hidden" name="email" value="{{report.sender.email}}">
              <input type="hidden" name="officer" value="{{user}}">
              <input type="hidden" name="reportId" value="{{report._id}}">
            </form>
          </div>
        {{/unless}}


      </div>
    
  </div>
</div>
</div>