
<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="background: linear-gradient(45deg, #5c7ea1, #509177);"
  >
    <!-- Sidebar - Brand -->
      {{> sidebarDepartment}}

  </ul>


  <div class="container p-2 mb-3 ml-5 mt-2">
    <h3 class="mt-3 mb-3">Quản lý danh sách Phường, Quận</h3>
    <div class="row">
      <!-- Districts Column -->
      <div class="col-md-6 shadow-sm">
        <!-- Districts List -->
        <form id="filterForm" action="/areas" method="get">
          <!-- Districts Container -->
          <div id="districtsContainer" style="height: 400px; overflow-y: auto; overflow-x: hidden">
            {{#each districts}}
            <div class="form-check">
              <div class="row mt-2">
                <div class="col-md-8">
                  <input class="form-check-input" type="radio" name="districts" style="margin: 0; margin-top: 3px"
                    value="{{this._id}}" id="district{{@index}}"
                    {{isSelected this._id ../selectedDistricts}}>
                  <label class="form-check-label ml-4" for="district{{@index}}">
                    {{this.district}}
                  </label>
                </div>
                <div class="col-md-1">
                  <a href='#' class='table-link edit-district'
                    data-id="{{this._id}}"
                    data-name="{{this.district}}">
                    <span class='fa-stack'>
                      <i class='fa fa-square fa-stack-2x'></i>
                      <i class='fa fa-pencil fa-stack-1x fa-inverse'></i>
                    </span>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href='api/v2/districts/{{this._id}}'
                    class='table-link danger delete-district'>
                    <span class='fa-stack'>
                      <i class='fa fa-square fa-stack-2x'></i>
                      <i class='fa fa-trash-o fa-stack-1x fa-inverse'></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          <!-- Apply Button -->
          <button type="submit" class="btn btn-primary mt-3">Áp dụng</button>
          <!-- Add New District Button -->
          <button type="button" class="btn btn-success mt-3" id="addDistrict">Thêm Quận
            Mới</button>
        </form>
      </div>

      <!-- Wards Column -->
      <div class="col-md-5 shadow-sm">
        <!-- Wards List -->
        <div class="mt-2" id="wardsContainer" style="height: 400; overflow-y: auto; overflow-x: hidden">
          {{#if wards}}
          {{#each wards}}
          <div class="row ward-item">
            <div class="col-md-8">
              {{this.ward}}
            </div>
            <div class="col-md-1">
              <a href='#' class='table-link edit-ward'
                data-id="{{this._id}}"
                data-name="{{this.ward}}">
                <span class='fa-stack'>
                  <i class='fa fa-square fa-stack-2x'></i>
                  <i class='fa fa-pencil fa-stack-1x fa-inverse'></i>
                </span>
              </a>
            </div>
            <div class="col-md-3">
              <a href='/api/v2/wards/{{this._id}}'
                class='table-link danger delete-ward'>
                <span class='fa-stack'>
                  <i class='fa fa-square fa-stack-2x'></i>
                  <i class='fa fa-trash-o fa-stack-1x fa-inverse'></i>
                </span>
              </a>
            </div>
          </div>
          {{/each}}
          {{else}}
          {{#if selectedDistricts}}
          <h4 class="mt-2">Không có dữ liệu</h4>
          {{/if}}
          {{/if}}
        </div>
        {{#if selectedDistricts}}
        <!-- Add New Ward Button -->
        <button type="button" class="btn btn-success mt-2" id="addWard"
          data-district-name="{{this.nameDistrict}}"
          data-district-id="{{this.idDistrict}}">Thêm Phường
          Mới</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit District-->
<div class="modal" tabindex="-1" role="dialog" id="editModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #7bcbc6">
        <h5 class="modal-title">Sửa Tên Quận</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newNameDistrict">Tên Quận Mới:</label>
          <input type="text" class="form-control" id="newNameDistrict">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary"
          id="saveNameDistrict">Lưu</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Ward-->
<div class="modal" tabindex="-1" role="dialog" id="editModalWard">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #7bcbc6">
        <h5 class="modal-title">Sửa Tên Phường</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="newNameWard">Tên Phường Mới:</label>
          <input type="text" class="form-control" id="newNameWard">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary"
          id="saveNameWard">Lưu</button>
      </div>
    </div>
  </div>
</div>

<!-- Add District Modal -->
<div class="modal" id="addDistrictModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#7bcbc6;">
        <h5 class="modal-title">Thêm Quận Mới</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-bod">
        <form id="newDistrictForm" action="/api/v2/districts" method="post" class="d-flex flex-column justify-content-center p-2">
          <div class="form-group">
            <label for="newDistrictName" style="color: #000000; font-size:large; font-weight: bold">Tên Quận:</label>
            <input type="text" class="form-control" id="newDistrictName"
              name="district"
              placeholder="Nhập tên quận mới">
          </div>
          <button type="submit" class="btn btn-primary align-items-end" style="width: 15%">Lưu</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Add Ward Modal -->
<div class="modal" id="addWardModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #7bcbc6">
        <h5 class="modal-title">Thêm Phường Mới</h5>
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="newWardForm" action="/api/v2/wards" method="post">
          <div class="form-group">
            <label for="districtName">Tên Quận:</label>
            <input type="text" class="form-control" id="districtName"
              name="districtName" readonly>
          </div>
          <div class="form-group">
            <label for="districtID" hidden>ID Quận:</label>
            <input type="text" class="form-control" id="districtID"
              name="district" hidden>
          </div>
          <div class="form-group">
            <label for="newWardName">Tên Phường:</label>
            <input type="text" class="form-control" id="newWardName" name="ward"
              placeholder="Nhập tên phường mới">
          </div>
          <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  let editButtons = document.querySelectorAll('.edit-district');
  let selectedDistrictId = null;
  let selectedWardId = null;

  editButtons.forEach(function (button) {
    button.addEventListener('click', function () {
      const currentName = button.getAttribute('data-name');
      selectedDistrictId = button.getAttribute('data-id');

      document.getElementById('newNameDistrict').value = currentName;
      document.getElementById('editModal').style.display = 'block';
    });
  });

  editButtons = document.querySelectorAll('.edit-ward');
  editButtons.forEach(function (button) {
    button.addEventListener('click', function () {
      const currentName = button.getAttribute('data-name');
      selectedWardId = button.getAttribute('data-id');

      document.getElementById('newNameWard').value = currentName;
      document.getElementById('editModalWard').style.display = 'block';
    });
  });

  const modalDistrict = document.getElementById('editModal');
  const modalWard = document.getElementById('editModalWard');
  const closeModalButtons = modalDistrict.querySelectorAll('[data-dismiss="modal"]');

  closeModalButtons.forEach(function (closeButton) {
    closeButton.addEventListener('click', function () {
      modalDistrict.style.display = 'none';
      modalWard.style.display = 'none';
    });
  });

  const saveButtonDistrict = document.getElementById('saveNameDistrict');
  saveButtonDistrict.addEventListener('click', function () {
    if (selectedDistrictId) {
      fetch(`/api/v2/districts/${selectedDistrictId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          district: document.getElementById('newNameDistrict').value,
        }),
      })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);

          window.location.reload();
        })
        .catch(error => {
          console.error('Lỗi:', error);
        });

      selectedDistrictId = null;

      modalDistrict.style.display = 'none';
    }
  });

  const saveButtonWard = document.getElementById('saveNameWard');
  saveButtonWard.addEventListener('click', function () {
    if (selectedWardId) {
      fetch(`/api/v2/wards/${selectedWardId}`, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          ward: document.getElementById('newNameWard').value,
        }),
      })
        .then(response => response.json())
        .then(data => {
          console.log('Success:', data);

          window.location.reload();
        })
        .catch(error => {
          console.error('Lỗi:', error);
        });

      selectedWardId = null;

      modalWard.style.display = 'none';
    }
  });

  const deleteLinks = document.querySelectorAll('.delete-district');
  deleteLinks.forEach(link => {
    link.addEventListener('click', function (event) {
      event.preventDefault();
      const url = this.getAttribute('href');

      fetch(url, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          console.log('District was deleted');

          window.location.reload(); 
        } else {
          console.error('Delete failed');
        }
      })
      .catch(err => console.error('Error:', err));
    });
  });

  const deleteWardLinks = document.querySelectorAll('.delete-ward');
  deleteWardLinks.forEach(link => {
    link.addEventListener('click', function (event) {
      event.preventDefault();
      const url = this.getAttribute('href');

      fetch(url, {
        method: 'DELETE',
      })
      .then(response => {
        if (response.ok) {
          console.log('Ward was deleted');

          window.location.reload(); 
        } else {
          console.error('Delete failed');
        }
      })
      .catch(err => console.error('Error:', err));
    });
  });
});

</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const addDistrictButton = document.getElementById('addDistrict');
  const addDistrictModal = document.getElementById('addDistrictModal');
  const closeButtons = document.querySelectorAll('[data-dismiss="modal"]');

  addDistrictButton.addEventListener('click', function () {
    addDistrictModal.style.display = 'block';
  });

  closeButtons.forEach(function(button) {
    button.addEventListener('click', function () {
      const modal = button.closest('.modal');
      modal.style.display = 'none';
    });
  });

  window.addEventListener('click', function (event) {
    if (event.target == addDistrictModal) {
      addDistrictModal.style.display = 'none';
    }
  });
});

</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const addWardButton = document.getElementById('addWard');
  const addWardModal = document.getElementById('addWardModal');
  const districtIDInput = document.getElementById('districtID');
  const districtNameInput = document.getElementById('districtName');

  addWardButton.addEventListener('click', function () {
    const districtName = this.getAttribute('data-district-name'); 
    const districtID = this.getAttribute('data-district-id');

    districtNameInput.value = districtName; 
    districtIDInput.value = districtID;

    addWardModal.style.display = 'block';
  });

  closeButtons.forEach(function(button) {
    button.addEventListener('click', function () {
      const modal = button.closest('.modal');
      modal.style.display = 'none';
    });
  });

  window.addEventListener('click', function (event) {
    if (event.target == addWardModal) {
      addWardModal.style.display = 'none';
    }
  });
});

</script>