<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"
        style="background: linear-gradient(45deg, #5c7ea1, #509177);">
        <!-- Sidebar - Brand -->
        {{#if isSuperAdmin}}
            {{> sidebarDepartment}}
                {{else}}
            {{> sidebarWard}}
        {{/if}}

    </ul>

    <div class="container-fluid mt-2">
        <div>
            <div class="d-flex" style="width: 50%;">

                <script>
                    var wards = JSON.parse('{{{wards}}}');
                    document.getElementById('district').addEventListener('change', (e) => {
                        let districtId = e.target.value
                        if (!districtId) {
                            document.getElementById('ward').disabled = true
                            return
                        }
                        let wardSelect = document.getElementById('ward')

                        wardSelect.innerHTML = '<option value="">Chọn phường</option>'
                        wards.forEach(ward => {
                            if (ward.district == districtId) {
                                let option = document.createElement('option')
                                option.value = ward._id
                                option.innerText = ward.ward
                                wardSelect.appendChild(option)
                            }

                        })
                        wardSelect.disabled = false

                    })
                </script>
            </div>

        </div>
        <table id="license-table" class="table user-list">
            <thead>
                <tr>
                    <th>Nơi xin cấp phép</th>
                    <th>Công ty xin cấp</th>
                    <th>Ngày bắt đầu</th>
                    <th>Ngày kết thúc</th>
                    <th>Ngày tạo</th>
                    <th>Tình trạng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each license}}
                <tr data-id="{{{_id}}}">
                    <td class="col-md-4">
                        {{board.boardLocation.addr}}
                    </td>
                    <td>
                        {{company.infor}}
                    </td>
                    <td>
                        {{period.start_date}}
                    </td>
                    <td>
                        {{period.end_date}}
                    </td>
                    <td>
                        {{createAt}}
                    </td>
                    <td>
                        {{#if this.status}}
                        <span class="badge bg-success">Đã duyệt</span>
                        {{else}}
                        <span class="badge bg-warning">Chưa duyệt</span>
                        {{/if}}
                    </td>
                    {{#compare board.boardLocation.addr '!==' 'Điểm đặt quảng cáo đã bị xóa'}}
                    <td>
                        {{#if ../isSuperAdmin}}
                            {{#if this.status}}
                            <a href="{{SERVER_URL}}/api/v1/license?id={{_id}}&action=view" class="table-link">
                                <i class="bi bi-search"></i>
                            </a>
                            {{else}}
                            <a href="{{SERVER_URL}}/api/v1/license?id={{_id}}&action=approve" class="table-link">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            {{/if}}
                        {{else}}
                            <a href="{{SERVER_URL}}/api/v1/license?id={{_id}}&action=view" class="table-link">
                                <i class="bi bi-search"></i>
                            </a>
                            {{#unless this.status}}
                            <a class="table-link" href="{{SERVER_URL}}/api/v1/license?id={{_id}}&action=delete">
                                <i class="bi bi-trash"></i>
                            </a>
                            {{/unless}}

                        {{/if}}
                    </td>
                    {{else}}
                        <td></td>
                    {{/compare}}
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <nav class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item {{#unless hasPreviousPage}}disabled{{/unless}}">
                    <a class="page-link" href="?page={{previousPage}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                {{#paginate currentPage lastPage}}
                    {{#compare this.number '==' ../currentPage}}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
                        </li>
                    {{else}}
                        <li class="page-item">
                            <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
                        </li>
                    {{/compare}}
                {{/paginate}}
                <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
                    <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

{{#section 'footer'}}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    const socket = io('https://ads-management-n1j3.onrender.com')
    socket.on('update status', (data) => {
        console.log(data);
        document.querySelectorAll('#license-table tbody tr').forEach(tr => {
            if (tr.dataset.id == data.id && data.status == true) {
                console.log(tr);
                tr.querySelector('td:nth-child(6)').innerHTML = '<span class="badge bg-success">Đã duyệt</span>'
                tr.querySelector('td:nth-child(7) a.btn-danger').disabled = true
            }
        })
    })
</script>
{{/section}}