{{#section 'css'}}
  <link rel='stylesheet' href='../../static/css/list.css' />
{{/section}}

{{#section 'js'}}
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
  <script href='../../static/js/boards/boardLocation.js'></script>  
{{/section}}

<!-- Page Wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="background: linear-gradient(45deg, #5c7ea1, #509177);"
  >
    <!-- Sidebar - Brand -->
    {{#if isSuperAdmin}}
      {{> sidebarDepartment}}
    {{else}}
      {{> sidebarWard}}
    {{/if}}

  </ul>

  <!-- End of Sidebar -->
<div class='container-fluid mt-2'>
  <div class='row'>
    {{#if isSuperAdmin}}
    <div >
    {{!-- <div >
      <form action="http://localhost:4000/boardsLocation/departmental" method="get">
      <input type="hidden" name="action" value="add" >
      <button class="btn btn-primary">
        <i class="bi bi-plus-square"></i> Thêm điểm đặt mới
      </button>
      </form>
    </div>--}}
    {{/if}}
    <div class='col-lg-12'>
      <div class='main-box clearfix'>
        <div class='table-responsive'>
          <table class='table user-list'>
            <thead>
              <tr>
                <th>
                  <span>
                    Vị trí bảng quảng cáo
                    <a href="http://localhost:4000/boardsLocation/departmental?action=add">
                    <i class="bi bi-plus-lg"></i>
                    </a>
                  </span>
                </th>
                <th>
                  <span>
                    Loại
                  </span>
                </th>
                <th class='text-center'>
                  <span>
                    Trạng thái
                  </span>
                </th>
                <th>
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody class='reports-list'>
              {{#if boardLocation}}
                {{#each boardLocation}}
                  <tr>
                    <td>
                      <div class='row'>
                        <!-- Cột cho ảnh -->
                        <div class='col-md-2 mt-2'>
                          <img src='{{this.imgBillboardLocation.[0]}}' alt='' class='img-fluid' id='boardImage_{{this._id}}'>
                        </div>

                        <!-- Cột cho Advertisement Form và Địa chỉ -->
                        <div class='col-md-10'>
                          <a href='/boardsLocation/{{this._id}}' class='user-link' id='advertisementForm_{{this._id}}'>
                            {{this.advertisementForm}}
                          </a>
                          <span class='user-subhead d-block mt-2' id='address_{{this._id}}'>
                            {{this.addr.street_number}}, {{this.addr.route}}, {{this.addr.ward}}, {{this.addr.district}}, {{this.addr.city}}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="col-md-3">
                      {{#each this.locationCategory}}
                        <span id='locationCategory_{{this._id}}'>{{this.locationCategory}}</span> <br>
                      {{/each}}
                    </td>
                    <td class='text-center'>
                      {{#compare this.isPlan '===' true}}
                        <span class='badge badge-pill badge-success' id='isPlan_{{this._id}}'>
                          Đã quy hoạch
                        </span>
                      {{else}}
                        <span class='badge badge-pill badge-warning' id='isPlan_{{this._id}}'>
                          Chưa quy hoạch
                        </span>
                      {{/compare}}
                    </td>

                    <td width='11%'>
                      <a href='http://localhost:4000/boardsLocation/{{this._id}}' class='table-link'>
                        <i class="bi bi-zoom-in"></i>
                      </a>  
                      <a href=
                      {{#if ../isSuperAdmin}}
                        '/boardsLocation/departmental/{{this._id}}?action=update'
                      {{else}}
                        '/boardsLocation/{{this._id}}/changeInfoRequest' 
                      {{/if}}
                        class='table-link boardLocationReq'>
                        <i class="bi bi-pencil"></i>
                      </a>

                      {{#if ../isSuperAdmin}}
                        <a href = 'http://localhost:4000/api/v1/boardLocation/delete/{{this._id}}' class='table-link boardLocationReq'>
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
              {{else}}
                <tr>
                  <td colspan='5'>
                    <div class='alert alert-danger'>
                      No board location found
                    </div>
                  </td>
                </tr>
              {{/if}}
            </tbody>
          </table>
        </div>
        <!-- Pagination.handlebars -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {{#if hasPreviousPage}}
              <li class="page-item">
                <a class="page-link" href="?page={{previousPage}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {{/if}}

            {{#paginate currentPage lastPage}}
              {{#compare this.number '==' ../currentPage}}
                <li class="page-item active">
                  <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
                </li>
              {{else}}
                <li class="page-item">
                  <a class="page-link" href="?page={{this.number}}">{{this.number}}</a>
                </li>
              {{/compare}}
            {{/paginate}}


            {{#if hasNextPage}}
              <li class="page-item">
                <a class="page-link" href="?page={{nextPage}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>