{{#section 'css'}}
<link rel="stylesheet" href="../../../static/css/boardRequest.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
    />
{{/section}}

{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
<script>
    $("#editUploadImage").fileinput({
    dropZoneEnabled: false,
    showRemove: false,
    maxFileCount: 1,
    showUpload: false,
    allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
    {{#if action.add}}
    required: true
    {{/if}}
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  const editBoardForm = document.getElementById('editBoardForm');

  editBoardForm.addEventListener('submit', function (event) {
    event.preventDefault();

    if (!validateForm()) {
      return; 
    }
    editBoardForm.submit();
  });

  function validateForm() {
    const boardWidth = document.getElementById('editBoardWidth').value;
    const boardHeight = document.getElementById('editBoardHeight').value;
    const boardQuantity = document.getElementById('editQuantity').value;
    const boardType = document.getElementById('editBoardType').value;

    {{#unless isSuperAdmin}}
    const reason = document.getElementById('editReason').value;
    {{/unless}}

    {{#if action.add}}
    const imgBillboard = document.getElementById('editUploadImage');
    console.log(imgBillboard.files.length)
    if (imgBillboard.files.length === 0) {
      alert('Vui lòng chọn ảnh đính kèm.');
      return false;
    }
    {{/if}}


    // Kiểm tra các trường nhập liệu ở đây
    if (!isPositiveInteger(boardWidth)) {
      alert('Vui lòng nhập số nguyên dương cho chiều rộng.');
      return false;
    }

    if (!isPositiveInteger(boardHeight)) {
      alert('Vui lòng nhập số nguyên dương cho chiều cao.');
      return false;
    }

    if (!isPositiveInteger(boardQuantity)) {
      alert('Vui lòng nhập số nguyên dương cho số lượng.');
      return false;
    }

    if (boardType === '') {
      alert('Vui lòng chọn loại bảng quảng cáo.');
      return false;
    }
    {{#unless isSuperAdmin}}
    if (reason === '') {
      alert('Vui lòng nhập lý do chỉnh sửa.');
      return false;
    }
    {{/unless}}

    return true; // Biểu mẫu hợp lệ
  }

  function isPositiveInteger(value) {
    return /^[1-9]\d*$/.test(value);
  }
});

</script>
{{/section}}

<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav sidebar sidebar-dark accordion"
    id="accordionSidebar"
    style="background: linear-gradient(45deg, #5c7ea1, #509177);"
  >
    <!-- Sidebar - Brand -->
    {{#if isSuperAdmin}}
  {{> sidebarDepartment}}
{{else}}
  {{> sidebarWard}}
{{/if}}

  </ul>
  <div class="card shadow mx-auto">
    <div class="card-body">
      <form action={{#if isSuperAdmin}} 
                      {{#if action.add}}
                        '/api/v1/boards/add/'
                      {{else}} 
                        "/api/v1/boards/update/{{board._id}}/" 
                      {{/if}}
                      {{else}} 
                      "/api/v1/changeBoard" 
                      {{/if}}
                      method="POST" enctype="multipart/form-data" id="editBoardForm">
          <div class="formbold-input-flex">
            <div>
                <input
                type="number"
                name="boardQuantity"
                id="editQuantity"
                value="{{board.quantity}}"
                class="formbold-form-input"
                />
                <label for="editQuantity" class="formbold-form-label"> Số lượng </label>
            </div>
            <div>
                <div class="formbold-select-wrapper">
                  <select name="boardType" id="editBoardType" class="formbold-form-input">
                    <option value="{{board.boardType._id}}" selected>{{board.boardType.boardType}}</option>
                    {{#each boardType}}
                      {{#compare this.boardType '!=' ../board.boardType.boardType}}
                        <option value="{{this._id}}">{{this.boardType}}</option>
                      {{/compare}}
                    {{/each}}
                  </select>
                </div>
                <label for="editBoardType" class="formbold-form-label"> Loại bảng quảng cáo </label>
            </div>
          </div>

          <div class="formbold-input-flex">
            <div>
                <input
                type="number"
                name="boardWidth"
                id="editBoardWidth"
                value="{{board.width}}"
                class="formbold-form-input"
                />
                <label for="editBoardWidth" class="formbold-form-label"> Chiều rộng </label>
            </div>
            <div>
                <input
                type="number"
                name="boardHeight"
                id="editBoardHeight"
                value="{{board.height}}"
                class="formbold-form-input"
                />
                <label for="editBoardHeight" class="formbold-form-label"> Chiều cao </label>
            </div>
          </div>

          {{#unless isSuperAdmin}}
          <div class="formbold-textarea">
              <textarea
                  rows="6"
                  name="boardReason"
                  id="editReason"
                  placeholder="Lý do chỉnh sửa..."
                  class="formbold-form-input"
              ></textarea>
              <label for="editReason" class="formbold-form-label"> Lý do </label>
          </div>
          {{/unless}}

          <div class="formbold-input-file">
            <label for="editUploadImage" class="formbold-input-label">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1670_1531)">
                <path d="M12.3568 6.4644L7.64349 11.1786C7.5639 11.2554 7.50041 11.3474 7.45674 11.4491C7.41307 11.5507 7.39008 11.6601 7.38912 11.7707C7.38815 11.8814 7.40924 11.9911 7.45114 12.0935C7.49304 12.1959 7.55492 12.289 7.63316 12.3672C7.71141 12.4455 7.80445 12.5073 7.90686 12.5492C8.00928 12.5912 8.11901 12.6122 8.22966 12.6113C8.34031 12.6103 8.44966 12.5873 8.55133 12.5436C8.653 12.5 8.74495 12.4365 8.82182 12.3569L13.536 7.64356C14.0049 7.17468 14.2683 6.53875 14.2683 5.87565C14.2683 5.21255 14.0049 4.57661 13.536 4.10773C13.0671 3.63885 12.4312 3.37544 11.7681 3.37544C11.105 3.37544 10.469 3.63885 10.0002 4.10773L5.28599 8.8219C4.89105 9.20701 4.57652 9.6667 4.36062 10.1743C4.14473 10.6819 4.03178 11.2274 4.02832 11.779C4.02487 12.3306 4.13097 12.8774 4.34049 13.3877C4.55 13.8979 4.85876 14.3615 5.24884 14.7516C5.63892 15.1416 6.10256 15.4503 6.61287 15.6597C7.12318 15.8692 7.67 15.9752 8.2216 15.9717C8.77321 15.9681 9.31862 15.8551 9.82621 15.6391C10.3338 15.4232 10.7934 15.1086 11.1785 14.7136L15.8927 10.0002L17.071 11.1786L12.3568 15.8927C11.8151 16.4344 11.172 16.8641 10.4643 17.1573C9.75649 17.4505 8.99791 17.6014 8.23182 17.6014C7.46574 17.6014 6.70716 17.4505 5.99939 17.1573C5.29162 16.8641 4.64853 16.4344 4.10682 15.8927C3.56512 15.351 3.13542 14.7079 2.84225 14.0002C2.54908 13.2924 2.39819 12.5338 2.39819 11.7677C2.39819 11.0016 2.54908 10.2431 2.84225 9.5353C3.13542 8.82753 3.56512 8.18443 4.10682 7.64273L8.82182 2.9294C9.60767 2.17041 10.6602 1.75043 11.7527 1.75992C12.8451 1.76942 13.8902 2.20762 14.6627 2.98015C15.4353 3.75269 15.8735 4.79774 15.883 5.89023C15.8925 6.98271 15.4725 8.03522 14.7135 8.82106L10.0002 13.5369C9.76794 13.7691 9.49226 13.9532 9.18887 14.0788C8.88548 14.2045 8.56032 14.2691 8.23195 14.2691C7.90357 14.269 7.57843 14.2043 7.27507 14.0786C6.97171 13.9529 6.69607 13.7687 6.46391 13.5365C6.23174 13.3043 6.04759 13.0286 5.92196 12.7252C5.79633 12.4218 5.7317 12.0966 5.73173 11.7683C5.73177 11.4399 5.79649 11.1148 5.92219 10.8114C6.04788 10.508 6.2321 10.2324 6.46432 10.0002L11.1785 5.28606L12.3568 6.4644Z" fill="#07074D"/>
                </g>
                <defs>
                <clipPath id="clip0_1670_1531">
                <rect width="20" height="20" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                Ảnh đính kèm           
            </label>
          </div>
          <input type="file" name="imgBillboard" id="editUploadImage" />

          <button class="btn btn-dark btn-lg btn-block" type="submit">
            {{#if isSuperAdmin}}
              {{#if action.add}}
              Thêm bảng mới
              {{else}}
              Chỉnh sửa
              {{/if}}
            {{else}}
              Gửi
            {{/if}}
          </button>
          <input type="hidden" name="creator" value="{{user._id}}">
          <input type="hidden" name="boardLocation" value="{{boardLocation._id}}">
          <input type="hidden" name="board" value="{{board._id}}">
      </form>
    </div>
  </div>
</div>